.contact-hero {
  background: linear-gradient(100deg, #584fde 50%, #36b7ee 100%);
  .display-4 {
    font-weight: 800;
    letter-spacing: -1px;
  }
  .lead {
    color: #e0e7ef;
  }
}
#contact {
  h2,
  h3,
  h4 {
    letter-spacing: 0.5px;
  }
  .form-label {
    font-weight: 500;
  }
  .shadow-sm {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05) !important;
  }
}
