.about-hero {
  background: linear-gradient(100deg, #584fde 50%, #36b7ee 100%);
  .display-4 {
    font-weight: 800;
    letter-spacing: -1px;
  }
  .lead {
    color: #e0e7ef;
  }
}
#about {
  h2,
  h3,
  h5 {
    letter-spacing: 0.5px;
  }
  .shadow-sm {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05) !important;
  }
  p {
    font-size: 1rem;
  }
  ul {
    li {
      padding-left: 0;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
  }
}
